<!-- start custom footer snippets -->
<!-- lazyload -->
<script>
(function(w, d){
    var b = d.getElementsByTagName('body')[0];
    var s = d.createElement("script");
    var v = !("IntersectionObserver" in w) ? "8.17.0" : "10.20.0";
    s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
    s.src = "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" + v + "/dist/lazyload.min.js";
    w.lazyLoadOptions = {/* Your options here */};
    b.appendChild(s);
}(window, document));
</script>

<!-- cookieconsent -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#1976d2",
      "text": "#ffffff"
    },
    "button": {
      "background": "#ffffff",
      "text": "#1976d2"
    }
  },
  "theme": "classic",
  "position": "bottom-right"
})});
</script>

<!-- sumo -->
<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='48deb223817b446076afa9788df5512d967a850195e986dc011239f0b422a16f';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
<!-- end custom footer snippets -->
