<!-- start custom footer snippets -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#1976d2",
      "text": "#ffffff"
    },
    "button": {
      "background": "#ffffff",
      "text": "#1976d2"
    }
  },
  "theme": "classic",
  "position": "bottom-right"
})});
</script>

<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='48deb223817b446076afa9788df5512d967a850195e986dc011239f0b422a16f';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
<!-- end custom footer snippets -->
