---
title: "What About Pets?"
layout: splash
date: 2016-01-01
last_modified_at: 2018-03-24
header:
  overlay_color: "#000"
  overlay_filter: "0.0"
  overlay_image: /assets/images/splash.jpg
  cta_label: "<i class='fa fa-book'></i> Latest Blog Posts"
  cta_url: "/blog/"
excerpt: ""
intro: 
  - excerpt: "Questions and answers on animal well-being and helping pets and owners live happier lives."
feature_row:
  - image_path: assets/images/cats.jpg
    alt: "cats"
    title: "What About Cats?"
    excerpt: "<q>What greater gift than the love of a cat.</q> &#8211;Charles Dickens <br /><br />"
    url: "/cats/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/rabbits.jpg
    alt: "rabbits"
    title: "What About Rabbits?"
    excerpt: "<q>The man who chases two rabbits, catches neither.</q> &#8211;Confucius <br /><br />"
    url: "/rabbits/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/ducks.jpg
    alt: "ducks"
    title: "What About Ducks?"
    excerpt: "<q>Be like a duck. Calm on the surface, but always paddling like the dickens underneath</q> &#8211;Michael Caine"
    url: "/ducks/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
