---
title: "What About Pets?"
layout: splash
date: 2016-01-01T21:00:00-01:00
header:
  overlay_color: "#000"
  overlay_filter: "0.0"
  overlay_image: /assets/images/splash.jpg
  cta_label: "Get Started"
  cta_url: "/blog/"
  caption: "torne - flickr.com (CC BY 2.0) / Cropped from original"
excerpt: ""
intro: 
  - excerpt: "Questions and answers on animal well-being and helping pets and owners live happier lives."
feature_row:
  - image_path: assets/images/cat.jpg
    alt: "cat"
    title: "What About Cats?"
    excerpt: "<q>What greater gift than the love of a cat.</q> &#8211;Charles Dickens"
    url: "/cats/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/rabbit.jpg
    alt: "rabbit"
    title: "What About Rabbits?"
    excerpt: "<q>The man who chases two rabbits, catches neither.</q> &#8211;Confucius"
    url: "/rabbits/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/duck.jpg
    alt: "duck"
    title: "What About Ducks?"
    excerpt: "<q>Be like a duck. Calm on the surface, but always paddling like the dickens underneath</q> &#8211;Michael Caine"
    url: "/ducks/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{:.fig-caption}
photo 1 / Paul Reynolds - flickr.com (CC BY 2.0) / Cropped from original
{:.fig-caption}
photo 2 / Matt Reinbold - flickr.com (CC BY-SA 2.0) / Cropped from original
{:.fig-caption}
photo 3 / Jannes Pockele - flickr.com (CC BY 2.0) / Cropped from original

