---
layout: splash
title: "Helping pets and owners live happier lives!"
header:
  overlay_color: "#2196F3"
  cta_label: "<i class='fa fa-book'></i> Check out the Latest Information"
  cta_url: "/blog"
excerpt: "WhatAboutPets is the place for questions and answers on animal well-being."
feature_row:
  - image_path: assets/images/cats.jpg
    alt: "cats"
    title: "What About Cats?"
    excerpt: "<q>What greater gift than the love of a cat.</q> &#8211;Charles Dickens <br /><br />"
    url: "/cats/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/rabbits.jpg
    alt: "rabbits"
    title: "What About Rabbits?"
    excerpt: "<q>The man who chases two rabbits, catches neither.</q> &#8211;Confucius <br /><br />"
    url: "/rabbits/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/ducks.jpg
    alt: "ducks"
    title: "What About Ducks?"
    excerpt: "<q>Be like a duck. Calm on the surface, but always paddling like the dickens underneath</q> &#8211;Michael Caine"
    url: "/ducks/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
disclaimer:
  - excerpt: "WhatAboutPets is not a medical resource. Do not disregard advice from a professional veterinarian because of something you read here."
---

{% include feature_row %}

{% include feature_row id="intro" type="center" %}
