/* ==========================================================================
   WhatAboutPets skin
   ========================================================================== */

/* Colors */
$primairy-color: #2196F3 !default;
$primairy-color-light: #BBDEFB !default;
$accent-color: #FF4081 !default;
$warning-color: #FF4081 !default;
$masthead-text: #FFFFFF !default;
$footer-text: #FFFFFF !default;

/* lazyload */
img:not([src]) {
  visibility: hidden;
}

img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px;
}

/* General */
$background-color: #E4E2DD;

#main{
  background-color: #FFFFFF;
}
a {
  text-decoration: none;
}

/* Masthead */
.masthead{
  border-bottom-color: $primairy-color-light !important;
}

.masthead__inner-wrap {
  padding-bottom: 0.5em !important;
  padding-top: 0.5em !important;
}
.masthead, .greedy-nav {
  background: $primairy-color !important;
}

$masthead-link-color: $masthead-text !default;
$masthead-link-color-hover: $masthead-text !default;

.search__toggle, .greedy-nav__toggle {
  color: $masthead-text !important;
}
.greedy-nav__toggle {
  background-color: $primairy-color !important;
}
.greedy-nav .navicon, .greedy-nav .navicon:before, .greedy-nav .navicon:after {
  background-color: $masthead-text !important;
}
.greedy-nav .hidden-links, .greedy-nav .hidden-links a:hover {
  background-color: $primairy-color !important;
}
.greedy-nav .visible-links a:before {
  background-color: transparent !important;
}

/* Footer */
.page__meta{
  margin-bottom: 2em;
}

$footer-background-color: $primairy-color !default;

.page__footer-follow {
  color: $footer-text;
  text-align: center;
}
.page__footer-copyright {
  color: $footer-text;
  text-align: center;
}

/* Index */
.page__hero--overlay .page__title, .page__hero--overlay .page__lead, .page__hero--overlay .btn {
  text-shadow: none !important;
}
.page__hero--overlay .page__title {
  font-size: 2.6em !important;
}
.splash {
  padding-top: 2em !important;
}

/* Body */
$text-color: #383838 !default;
$link-color: $accent-color !default;
$link-color-hover: $accent-color !default;
$link-color-visited: $accent-color !default;

/* Post */
.page__title {
  color: #444444;
  font-size: 1.6em !important;
  margin-top: 10px !important;
}

.title-image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page__content {
  p {
    font-size: 0.9em !important;
    line-height: 1.4em !important;
  }
  ul li {
    font-size: 0.9em !important;
    margin-bottom: 0px !important;
  }
  h2 {
    color: #222222;
    font-size: 1.2em !important;
    text-align: center;
  }
  blockquote {
    border-left-color: $accent-color;
  }
  .notice--warning {
    background-color: #FCE4EC;
    border: 3px solid $accent-color;
    color: #383838;
    font-size: 1.0em !important;
  }
}

/* Comments */
.comment.child {
  margin-left: 4.5em;
}

/* Archives */
.archive__item-title a {
  color: #383838 !important;
}
.archive__item-title a:hover {
  color: $accent-color !important;
}
.archive__subtitle {
  color: #BDBDBD;
}

/* Share Post */
.desktop-visible {
  display:none;
}
@media (min-width: 960px) {
  .desktop-visible {
    display: block;
  }
}
.mobile-visible {
  display:none;
}
@media (max-width: 959px) {
  .mobile-visible {
    display: block;
  }
}

.social-sidebar {
  position: fixed;
  right: 0px;
  top: 300px;
  z-index: 1;

  .share-link {
    display: block;
    height: 70px;
    width: 50px;
    padding-top: 17px;
  }
}
.social-footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;

  .share-link {
    display: inline-block;
    height: 40px;
    width: auto;
    padding-top: 7px;
  }
}
.social a.twitter {
  background-color: #38A1F3;
  color: #FFFFFF;
  text-align: center;
}
.social a.facebook {
  background-color: #4267b2;
  color: #FFFFFF;
  text-align: center;
}
