/* ==========================================================================
   WhatAboutPets skin
   ========================================================================== */

/* Colors */
$blue : #2196f3 !default;
$dark-blue : #0367B4 !default;
$green : #00BD6C !default;
$pink : #ff6090 !default;
$grey : #9ba1a6 !default;

$primary-color : $blue !default;
$footer-background-color : $blue !default;

$text-color : #444 !default;
$link-color : $blue !default;
$link-color-hover : $blue !default;
$link-color-visited : $blue !default;

$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

$muted-text-color: $text-color !default;
$border-color: mix(#fff, $text-color, 75%) !default;
