/* ==========================================================================
   WhatAboutPets skin
   ========================================================================== */

/* General */
$background-color: #e4e2dd !default;

#main{
  background-color: #ffffff;
}

/* Body */
$text-color: #383838 !default;
$link-color: #FF4081 !default;
$link-color-hover: #FF4081 !default;
$link-color-visited: #FF4081 !default;

/* Post */
.page__title {
  color: #444444;
  font-size: 1.6em !important;
  margin-top: 10px !important;
}

.page__content p {
  font-size: 0.9em !important;
    line-height: 1.4em !important;
}

li {
  margin-bottom: 0px;
}
